<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dopp.doppapi.mapper.expense.ExpenseMapper">
    <select id="selectExpenseList"
        parameterType="com.dopp.doppapi.dto.expense.ExpenseListRequest"
        resultType="com.dopp.doppapi.dto.expense.ExpenseDto"
    >
        SELECT
            expense_id,
            expense_name,
            year,
            total_amount,
            m01, m02, m03, m04, m05, m06,
            m07, m08, m09, m10, m11, m12,
            created_at,
            updated_at,
            created_by,
            updated_by
        FROM expense_info
        WHERE 1=1
        <if test="year != null">
            AND year = #{year}
        </if>
        ORDER BY expense_id DESC
    </select>
</mapper>
