<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dopp.doppapi.mapper.contract.ContractMapper">
    <select id="selectContractList"
        parameterType="com.dopp.doppapi.dto.contract.ContractListRequest"
        resultType="com.dopp.doppapi.dto.contract.ContractDto"
    >
        SELECT
            contract_id,
            "type",
            "year",
            contract_name,
            company_name,
            contract_start,
            contract_end,
            invoice_rule,
            payment_term,
            total_amount,
            m01, m02, m03, m04, m05, m06,
            m07, m08, m09, m10, m11, m12,
            created_at,
            updated_at,
            created_by,
            updated_by
        FROM contract_info
        WHERE 1=1
        <if test="year != null">
            AND "year" = #{year}
        </if>
        <if test="type != null and type != ''">
            AND "type" = #{type}
        </if>
        ORDER BY "type" , contract_start, contract_end, contract_id
    </select>

    <insert id="insertContractList" parameterType="java.util.List">
        INSERT INTO contract_info (
            "type",
            "year",
            contract_name,
            company_name,
            contract_start,
            contract_end,
            total_amount,
            m01, m02, m03, m04, m05, m06,
            m07, m08, m09, m10, m11, m12,
            created_at,
            created_by
        ) VALUES
        <foreach collection="list" item="item" separator=",">
        (
            #{item.type},
            #{item.year},
            #{item.contractName},
            #{item.companyName},
            #{item.contractStart},
            #{item.contractEnd},
            #{item.totalAmount},
            #{item.m01}, #{item.m02}, #{item.m03}, #{item.m04}, #{item.m05}, #{item.m06},
            #{item.m07}, #{item.m08}, #{item.m09}, #{item.m10}, #{item.m11}, #{item.m12},
            NOW(),
            #{item.createdBy}
        )
        </foreach>
    </insert>
</mapper>
